@page
@model MyRestaurant.Web.Pages.Index1Model
@{
}
<hr/>
	<h1> | BEST SELLING | </h1>
	<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="~/images/noodles.jpg">
        <img src="~/images/noodles.jpg" alt="Lights" style="width:100%">
       <div class="link-to-book-wrapper">
			<a class="link-to-book" class="btn btn-primary" asp-area="Restaurant" asp-controller="Orders" asp-action="Create">Add to Orders</a>
		</div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="~/Images/f6.jpg">
        <img src="~/images/idli (1) (1).jpg" alt="Nature" style="width:100%">
         <div class="link-to-book-wrapper">
			<a class="link-to-book" class="btn btn-primary" asp-area="Restaurant" asp-controller="Orders" asp-action="Create">Add to Orders</a>
		</div>
      </a>
    </div>
  </div>
   <div class="col-md-4">
    <div class="thumbnail">
      <a href="~/Images/f8.jpg">
        <img src="~/images/chinese.jpg" alt="Nature" style="width:100%">
        <div class="link-to-book-wrapper">
			<a class="link-to-book" class="btn btn-primary" asp-area="Restaurant" asp-controller="Orders" asp-action="Create">Add to Orders</a>
		</div>
      </a>
    </div>
  </div>


<h1> Up to 20% off | BRUNCH MENU | </h1>
	<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="~/images/idli.jpg">
        <img src="~/images/pexels-ruslan-khmelevsky-11267137 (1).jpg" alt="Lights" style="width:100%">
         <div class="link-to-book-wrapper">
			<a class="link-to-book" class="btn btn-primary" asp-area="Restaurant" asp-controller="Orders" asp-action="Create">Add to Orders</a>
		</div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="~/Images/f16.jpg">
        <img src="~/images/pexels-kei-scampa-9882299.jpg" alt="Nature" style="width:100%">
         <div class="link-to-book-wrapper">
			<a class="link-to-book" class="btn btn-primary" asp-area="Restaurant" asp-controller="Orders" asp-action="Create">Add to Orders</a>
		</div>
      </a>
    </div>
  </div>
   <div class="col-md-4">
    <div class="thumbnail">
      <a href="~/Images/f15.png">
        <img src="~/images/pexels-yang-hao-10692483.jpg" alt="Nature" style="width:100%">
         <div class="link-to-book-wrapper">
			<a class="link-to-book" class="btn btn-primary" asp-area="Restaurant" asp-controller="Orders" asp-action="Create">Add to Orders</a>
		</div>
      </a>
    </div>
  </div>
  @*<hr/>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="~/Images/f17.jpg">
        <img src="~/Images/f17.jpg" alt="Nature" style="width:100%">
       <div class="link-to-book-wrapper">
			<a class="link-to-book" class="btn btn-primary" asp-area="Restaurant" asp-controller="Orders" asp-action="Create">Add to Orders</a>
		</div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="~/Images/f12.jpg">
        <img src="~/Images/f12.jpg" alt="Nature" style="width:100%">
         <div class="link-to-book-wrapper">
			<a class="link-to-book" class="btn btn-primary" asp-area="Restaurant" asp-controller="Orders" asp-action="Create">Add to Orders</a>
		</div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="~/Images/food4.jpg">
        <img src="~/Images/food4.jpg" alt="Fjords" style="width:100%">
         <div class="link-to-book-wrapper">
			<a class="link-to-book" class="btn btn-primary" asp-area="Restaurant" asp-controller="Orders" asp-action="Create">Add to Orders</a>
		</div>
      </a>
    </div>
  </div>
</div>
<hr/>*@
<h1>  SAVE UPTO 10% | MUST HAVE | </h1>
 <div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="~/images/idli.jpg">
        <img src="~/images/pexels-gustavo-peres-6441084.jpg" alt="Lights" style="width:100%">
         <div class="link-to-book-wrapper">
			<a class="link-to-book" class="btn btn-primary" asp-area="Restaurant" asp-controller="Orders" asp-action="Create">Add to Orders</a>
		</div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="~/Images/f24.jpg">
        <img src="~/images/pexels-beqa-tefnadze-803290.jpg" alt="Natural" style="width:100%">
        <div class="link-to-book-wrapper">
			<a class="link-to-book" class="btn btn-primary" asp-area="Restaurant" asp-controller="Orders" asp-action="Create">Add to Orders</a>
		</div>
      </a>
    </div>
  </div>
   <div class="col-md-4">
    <div class="thumbnail">
      <a href="~/Images/f25.jpg">
        <img src="~/images/pexels-ruslan-khmelevsky-11267147.jpg" alt="Nature" style="width:100%">
         <div class="link-to-book-wrapper">
			<a class="link-to-book" class="btn btn-primary" asp-area="Restaurant" asp-controller="Orders" asp-action="Create">Add to Orders</a>
		</div>
      </a>
    </div>
  </div>


